.button {
    background-color: hsl(0deg 0% 15%);
    color: hsl(0deg 0% 100%);

    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 500;

    cursor: pointer;

    transition: background-color 0.2s ease-out;
}

.button.button {
    padding-inline: 1.25rem;
}

.button:hover {
    background-color: hsl(0deg 0% 30%);
}

.button:disabled {
    background-color: hsl(0deg 0% 45%);
    color: hsl(0deg 0% 90%);

    cursor: not-allowed;
}
