.button {
    align-self: center;

    width: 15rem;

    background-color: var(--form-button-background-color);
    color: var(--form-button-foreground-color);

    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 500;

    cursor: pointer;

    transition:
        background-color 0.2s ease-out,
        color 0.2s ease-out;
}

.button.button {
    border-radius: 0.5rem;

    padding-inline: 1.25rem;
}

.button:hover {
    background-color: var(--form-button-hover-background-color);
    color: var(--form-button-hover-foreground-color);
}

.button:disabled {
    background-color: var(--form-button-disabled-background-color);
    color: var(--form-button-disabled-foreground-color);

    cursor: not-allowed;
}
