.label {
    margin: 0;

    padding: 0;

    color: var(--form-field-label-foreground-color);

    font-size: 0.875rem;
    font-weight: 500;
}

.control {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    margin-block-start: 0.75rem;
}

.error {
    margin: 0;
    margin-block-start: 0.75rem;

    padding: 0;

    color: var(--form-field-error-foreground-color);

    font-size: 0.875rem;
    font-weight: 500;
}
