.qrCodeLoader {
    background-color: var(--qr-code-loader-color);
}

.activeQrCodeLoader {
    animation-name: flicker;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flicker {
    from {
        background-color: var(--qr-code-loader-active-color-2);
    }

    to {
        background-color: var(--qr-code-loader-active-color-1);
    }
}
