.tabs {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.tab {
    position: relative;

    border: none;

    margin: 0;

    padding: 0;

    background: none;
    color: var(--tab-foreground-color);

    font-size: 1.25rem;
    font-weight: 500;

    cursor: pointer;

    transition: color 0.2s ease-out;
}

.tab:hover {
    color: var(--tab-hover-foreground-color);
}

.tab::after {
    content: "";

    position: absolute;
    inset-inline-start: 50%;
    inset-block-end: -0.75rem;

    border-radius: 0.125rem;

    width: 0.25rem;
    height: 0.25rem;

    transition: background-color 0.2s ease-out;
}

.tab.activeTab {
    color: var(--tab-active-foreground-color);
}

.tab.activeTab::after {
    background-color: var(--tab-active-foreground-color);
}
