.qrCode {
    margin-inline: auto;

    width: 10rem;
    height: 10rem;

    color: var(--qr-code-foreground-color);
}

.errorStateQrCode {
    color: var(--qr-code-error-foreground-color);
    filter: blur(0.0625rem);
}

.appLink {
    margin-inline: auto;
}
