.form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.methodTitle {
    margin: 0;

    padding: 0;

    color: var(--form-method-title-foreground-color);

    font-size: 1.5rem;
    font-weight: 500;
}

.methodDescription {
    margin: 0;
    margin-block-start: 0.5rem;

    padding: 0;

    color: var(--form-method-description-foreground-color);

    font-size: 1rem;
    font-weight: 400;
}

.methodForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-block-start: 1.5rem;
}
