.controlsBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.25rem;
}

.backButton {
    display: flex;
    align-items: center;

    border: none;

    margin: 0;

    padding: 0;

    background-color: transparent;
    color: var(--prompt-back-button-foreground-color);

    cursor: pointer;
}

.backButtonIcon {
    margin: 0;

    width: 1.125rem;
    height: 1.125rem;
}

.promptPurpose {
    margin: 0;

    padding: 0;

    color: var(--prompt-purpose-foreground-color);

    font-size: 1.125rem;
    font-weight: 500;
}

.promptPurposeDetail {
    color: var(--prompt-purpose-detail-foreground-color);

    font-weight: 600;
}

.prompt {
    margin-block-start: 2rem;
}
