.prompt {
    margin: 0;

    padding: 0;

    color: var(--prompt-foreground-color);

    font-size: 1.5rem;
    font-weight: 500;
}

.promptDescription {
    margin-block-start: 0.5rem;

    color: var(--prompt-description-foreground-color);

    line-height: 125%;
    font-size: 1rem;
    font-weight: 400;
}

.promptAction {
    margin-block-start: 1.75rem;
}

.info {
    margin: 0;
    margin-block-start: 1.5rem;

    padding: 0;

    color: var(--prompt-info-foreground-color);

    line-height: 125%;
    font-size: 0.875rem;
    font-weight: 500;
}

.error {
    margin: 0;
    margin-block-start: 1.5rem;

    padding: 0;

    color: var(--prompt-error-foreground-color);

    line-height: 125%;
    font-size: 0.875rem;
    font-weight: 500;
}

.errorButton {
    display: block;

    border: none;

    margin: 0;
    margin-block-start: 0.5rem;

    padding: 0;

    background-color: transparent;
    color: var(--prompt-error-foreground-color);

    text-align: start;
    text-decoration: underline;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 500;

    cursor: pointer;
}
