.form {
    border-radius: var(--aa-border-radius);
    background-color: var(--aa-background-color);
    font-family: var(--aa-font-family);
    text-align: center;
    overflow: hidden;
}

:where(.form) * {
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    text-decoration: inherit;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    color: inherit;
}

.form button {
    cursor: pointer;
}

.form>nav {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.form>nav>button {
    padding: .875rem;
    background-color: var(--aa-tab-background-color);
    color: var(--aa-tab-foreground-color);
    font-size: 1rem;
    font-weight: 800;
    transition: background-color .2s ease-out, color .2s ease-out;
}

.form>nav>button[aria-current] {
    background-color: var(--aa-tab-active-background-color);
    color: var(--aa-tab-active-foreground-color);
}

.form>nav>button:hover,
.form>nav>button:focus-visible {
    outline: transparent;
    background-color: var(--aa-tab-hover-background-color);
    color: var(--aa-tab-hover-foreground-color);
}

.form .methods {
    padding-inline: 1rem;
}

.form .methods>.method {
    padding-block: 1rem;
}

.form .methods>.separator {
    content: "Or";
    display: flex;
    align-items: center;
    gap: 1ch;
    margin-block-end: .5rem;
    color: var(--aa-method-separator-foreground-color);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}

.form .methods>.separator::before,
.form .methods>.separator::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--aa-method-separator-foreground-color);
}

.form .methods>.method>.methodPrompt {
    color: var(--aa-method-prompt-foreground-color);
    font-size: 1rem;
    font-weight: 600;
}

.form .methods>.method>*:not(:first-child) {
    padding-block: 1rem;
}

.form .qrCodeContainer {
    border-radius: var(--aa-border-radius);
    position: relative;
    margin-inline: auto;
    width: 12.5rem;
    height: 12.5rem;
    background-color: var(--aa-qr-code-background-color);
}

.form .qrCodeContainer>* {
    position: absolute;
    inset: 1rem;
}

.form .qrCodeContainer>.qrCode {
    color: var(--aa-qr-code-foreground-color);
}

.form .qrCodeContainer>.qrCodeSpinner {
    padding: 4rem;
    color: var(--aa-qr-code-foreground-color);
}

.form .qrCodeContainer>.qrCodeSuccessSpinner {
    padding: 4rem;
    color: var(--aa-qr-code-success-foreground-color);
}

.form .qrCodeContainer>.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: #ffffff;
}

.form .qrCodeContainer>.error>p {
    font-size: .875rem;
    font-weight: 500;
    color: var(--aa-qr-code-error-foreground-color);
}

.form .qrCodeContainer>.error>button,
.form .mobileAppContainer>.error>button {
    border-radius: var(--aa-border-radius);
    padding: .25rem 1rem;
    background-color: var(--aa-button-background-color);
    color: var(--aa-button-foreground-color);
    font-size: .875rem;
    font-weight: 700;
    transition: background-color .2s ease-out, color .2s ease-out;
}

.form .qrCodeContainer>.error>button:hover {
    background-color: var(--aa-button-hover-background-color);
    color: var(--aa-button-hover-foreground-color);
}

.form .qrPrompt {
    margin-block-start: 1rem;
    color: var(--aa-method-instructions-foreground-color);
    font-size: .875rem;
    font-weight: 500;
}

.form .mobileAppContainer>.error>p {
    color: var(--aa-error-foreground-color);
    font-size: 1rem;
}

.form .mobileAppContainer>.error>button {
    margin-block-start: .75rem;
}

.form .usernameCaptureForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form .usernameCaptureForm>input {
    align-self: stretch;
    border-radius: var(--aa-control-border-radius);
    padding: .5rem .875rem;
    background-color: var(--aa-input-background-color);
    color: var(--aa-input-foreground-color);
    font-size: .875rem;
    font-weight: 400;
}

.form .usernameCaptureForm>.error {
    margin-block-start: .5rem;
    color: var(--aa-error-foreground-color);
    font-size: .875rem;
}

.form .usernameCaptureForm>button[type=submit] {
    align-self: stretch;
    margin: 1rem -1rem -2rem;
    padding: .75rem;
    background-color: var(--aa-button-background-color);
    color: var(--aa-button-foreground-color);
    font-size: 1rem;
    font-weight: 700;
    transition: background-color .2s ease-out, color .2s ease-out;
}

.form .usernameCaptureForm>button[type=submit]:hover,
.form .usernameCaptureForm>button[type=submit]:focus-visible {
    outline: transparent;
    background-color: var(--aa-button-hover-background-color);
    color: var(--aa-button-hover-foreground-color);
}
