<section class="section columns">
    <autharmor-form
        id="auth-form"
        class="column"
        [client]="authArmorClient"
        [interactiveConfig]="authArmorInteractiveClientConfig"
        [action]="action"
        [enableUsernamelessLogIn]="enableUsernamelessLogIn"
        (logIn)="onLogIn($any($event))"
        (register)="onRegister($any($event))"
    ></autharmor-form>
    <form
        class="column is-three-fifths"
        [formGroup]="preferencesForm"
        (ngSubmit)="applyPreferences()"
    >
        <div class="field" formGroupName="enforceAction">
            <p class="label">Enforce Action</p>
            <div class="control">
                <div class="select">
                    <select formControlName="action">
                        <option value="">None</option>
                        <option value="logIn">Log In</option>
                        <option value="register">Register</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field" formGroupName="enforceUsername">
            <p class="label">Enforce Username</p>
            <div class="control">
                <input type="text" class="input" formControlName="username" />
            </div>
        </div>
        <div class="field" formGroupName="enforceMethod">
            <p class="label">Enforce Method</p>
            <div class="control">
                <div class="select">
                    <select formControlName="method">
                        <option value="">None</option>
                        <option value="authenticator">Authenticator App</option>
                        <option value="magicLinkEmail">Magic Link Email</option>
                        <option value="webAuthn">WebAuthn</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field" formGroupName="allowedMethods">
            <p class="label">Allowed Methods</p>
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" formControlName="authenticator" checked />
                    Authenticator
                </label>
            </div>
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" formControlName="magicLinkEmail" checked />
                    Magic link email
                </label>
            </div>
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" formControlName="webAuthn" checked />
                    WebAuthn
                </label>
            </div>
        </div>
        <div class="field" formGroupName="miscellaneous">
            <p class="label">Miscellaneous</p>
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" formControlName="enableUsernamelessLogIn" checked />
                    Enable usernameless login
                </label>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button type="submit" class="button is-link">Apply</button>
            </div>
        </div>
    </form>
</section>
